@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Cookie|Philosopher:400,700");

@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope%7CLeckerli+One");

.container__header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 80px;
  width: 100%;
  background: #E7ECED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 3;
}

.container__header .header__logo {
  background-image: url("../images/logocorto.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
}

.container__nav-button {
  width: 20%;
  padding-top: 5px;
}

.container__nav-button .nav__button {
  width: 70px;
  height: 70px;
  background-image: url("../images/menu-color.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: none;
  background-color: #E7ECED;
  cursor: pointer;
  outline: none;
}

.nav__list {
  position: absolute;
  left: -40px;
  top: 80px;
  margin-top: 0;
}

.nav__list .nav__list__item {
  list-style: none;
  width: 150px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  background-color: #424A5F;
  border-bottom: 1px solid #31B89A;
}

.nav__list .nav__list__item:last-child {
  border: none;
}

.nav__list .nav__list__item a {
  text-decoration: none;
  color: #E7ECED;
  padding: 10px;
}

.hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 80px;
  min-height: 100vh;
}/*FOOTER*/.section__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: #31B89A;
  color: #ffffff;
}

.container__footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  list-style: none;
  color: white;
}

.footer__list {
  list-style-type: none;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__logo {
  display: block;
  margin-right: 20px;
  padding-top: 8px;
  width: 57px;
  height: auto;
}

.hero .hero__img-mobile {
  width: 100%;
  height: auto;
  display: block;
}

.hero .hero__img-desktop {
  display: none;
}

.title-hero {
  color: #EAB931;
  text-align: center;
  background-color: #424A5F;
  font-size: 18px;
  padding: 20px 5px;
  margin: 0;
}

.block__info-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  padding: 10px;
}

.block__info-steps .step {
  display: block;
  text-align: center;
}

.img-step {
  display: block;
  width: 80px;
  height: 60px;
  margin: 8px auto auto;
  -webkit-filter: opacity(0.3);
  filter: opacity(0.3);
}

.img-step .span-step {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  padding-top: 1.2em;
}

.container__instructions {
  padding: 3%;
  text-align: center;
  background-color: #E7ECED;
}

.container__instructions .container__instructions-paragraph {
  color: #424A5F;
}

.block__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  background-color: #E7ECED;
}

.creation__design {
  background-color: #31B89A;
  height: 126px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.creation__design .creation__design__options {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 106px;
}

.creation__design__options-font,.creation__design__options-colour,.creation__design__options-theme {
  border: 3px solid #424A5F;
  padding: 0;
  height: 106px;
  background-color: #ffffff;
  z-index: 2;
}

.creation__design__options-font .img-design,.creation__design__options-colour .img-design,.creation__design__options-theme .img-design {
  width: 100px;
  height: 100px;
}

.design-fonts,.design-colours,.design-themes {
  position: absolute;
  top: 100%;
  padding: 0;
}

.design-fonts .hidden,.design-colours .hidden,.design-themes .hidden {
  display: none;
}

.font,.colour,.theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #424A5F;
  color: #E7ECED;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 7px;
}

.font:hover,.colour:hover,.theme:hover {
  background-color: #55607F;
}

.font + .font,.colour + .colour,.theme + .theme {
  border-top: 1px solid #EAB931;
}

.red,.green,.lime,.black,.blue,.pink,.grey {
  border-radius: 30px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
}

.red {
  background-color: #dd5a4b;
}

.green {
  background-color: #174752;
}

.lime {
  background-color: #d2de6b;
}

.black {
  background-color: #251f21;
}

.blue {
  background-color: #94d3c9;
}

.pink {
  background-color: #ee5b78;
}

.grey {
  background-color: #817e7e;
}

.creation__photo {
  padding: 3%;
  background-color: #E7ECED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.creation__photo .selection-image {
  display: none;
}

.creation__photo .trigger {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #424A5F;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100px;
  border-color: #424A5F;
}

.button--open,.button--close {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.button--save,.button--new {
  background-color: #EAB931;
  color: #424A5F;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 5px;
  margin: 7px 0;
}

.h3-form {
  color: #31B89A;
  text-transform: uppercase;
  font-size: 20px;
}

.legend {
  display: none;
}

.form-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: auto;
  border-bottom: 5px;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  align-self: center;
  background: #55607F;
}

fieldset {
  border: none;
  margin: 0;
}

.form__personal-data {
  margin-top: 1.2em;
}

.form__personal-data,.form__education,.form__experience,.form__skills {
  background-color: #55607F;
  padding: 0 35px;
}

#container-inputs__personal-data,#container-inputs__experience,#container-inputs__education,#container-inputs__skills {
  display: none;
}

.input-birthdate {
  color: #757575;
}

.label {
  font-size: 1em;
  text-align: center;
  color: #31B89A;
  margin-top: 0;
}

.class-input,.description,.experience-text,.textarea-aboutme {
  display: block;
  border-radius: 5px;
  background: #E7ECED;
  font-family: inherit;
  width: 100%;
  margin: 8px 0;
  padding: 9px;
  font-size: 0.9em;
  outline: none;
  border: none;
}

.education-dates,.experience-dates {
  display: inline;
  color: #000000;
  font-size: 14px;
}

select {
  border: none;
  padding: 3px;
  width: 67px;
}

.date-container-from,.level {
  display: block;
  margin: 4px 0;
}

.date-container-until {
  display: block;
  margin: 4px 0;
}

.from {
  margin-top: 3px;
  margin-right: 3px;
}

.until {
  margin-left: 2px;
  margin-top: 3px;
  margin-right: 3px;
}

.actualidad {
  margin-top: 4px;
}

.present-button-p {
  font-size: 1em;
  color: #31B89A;
}

.skills-p {
  color: #ffffff;
  font-size: 1.3em;
}

.line {
  border: 0.5px solid #E7ECED;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}/*PREVIEW*//*ELECCIÓN DE DISEÑO*/.preview__title,.creation__title,.label {
  text-align: center;
  color: #31B89A;
  margin-top: 0;
  padding-top: 1em;
}

.preview-title {
  text-align: left;
}

.preview-title {
  margin: 10px 0;
}

.preview-theme {
  position: relative;
  font-size: 80%;
  margin-bottom: 5%;
}/*Cookie-font*/.cookie .preview-title {
  font-family: 'Cookie';
  font-size: 0.8em;
}

.cookie .preview-text {
  font-family: 'arial';
  font-size: 0.8em;
}/*Annie-font*/.annie .preview-title {
  font-family: 'Leckerli One';
  font-size: 0.8em;
  font-weight: 700;
}

.annie .preview-text {
  font-family: 'Annie Use Your Telescope';
  font-size: 0.8em;
}/*Philosopher-font*/.philosopher .preview-title {
  font-family: 'Philosopher';
  font-size: 0.8em;
  font-weight: 700;
}

.philosopher .preview-text {
  font-family: 'Philosopher';
  font-size: 0.8em;
}/*Colour $colorRed $colorDarkGreen $colorLime $colorDarkGrey $colorHeavenBlue $colorPink $colorGrey*//*red-green-lime*/.red-green-lime .preview-title {
  color: #dd5a4b;
  border-bottom: 1px solid #d2de6b;
}

.red-green-lime .preview-text {
  color: #174752;
}/*black-blue-lime*/.black-blue-lime .preview-title {
  color: #94d3c9;
  border-bottom: 1px solid #d2de6b;
}

.black-blue-lime .preview-text {
  color: #251f21;
}/*lack-pink-grey*/.black-pink-grey .preview-title {
  color: #251f21;
  border-bottom: 1px solid #ee5b78;
}

.black-pink-grey .preview-text {
  color: #817e7e;
}/*Temas*/.dots.showpreview {
  background-image: url("../images/themes/dots.png");
}

.stripes.showpreview {
  background-image: url("../images/themes/stripes.png");
  background-size: contain;
}

.zigZag.showpreview {
  background-image: url("../images/themes/zigZag.png");
}/*MAQUETACIÓN PREVIEW*/.showpreview {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80vh;
  padding: 8%;
}

.container__preview--intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 80px;
}

.container__preview--photo {
  width: 25%;
}

.container__photo {
  margin-top: 12%;
  width: 60px;
  height: 60px;
  background-color: #31B89A;
  border-radius: 100px;
}

.container__preview--personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 0 10px;
  width: 80%;
}

.container__personal-data {
 /*background-color: $colorYellow;*/
  width: 32%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 10px;
}

.container__direction {
  width: 60%;
  height: 50px;
 /*background-color: $colorYellow;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 10px;
  padding-left: 10px;
  text-align: right;
  padding-top: 10px;
  margin-top: 10px;
}

.container__photo .thumb {
  width: 100%;
  width: 60px;
  border-radius: 100px;
  height: 60px;
}

.preview-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
}

.container__preview--summary {
  width: 100%;
  margin: 10px;
}

.container__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-top: 10px;
}

.preview__summary {
  width: 60%;
  height: auto;
  text-align: left;
  padding-left: 5px;
}

.container__preview--rrss {
  width: 30%;
  text-align: right;
}

.preview__experience,.preview__formation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
}

.formation__title,.summary__title,.experience__title {
  margin: 0;
}

.container__experience--main-data,.container__formation--main-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 15px;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}

.container__experience--description,.container__formation--description {
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.preview__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 40px;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}

.preview__skills--languages,.preview__skills--it,.preview__skills--bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.talk-icon,.it-icon,.bonus-icon {
  width: 30px;
  height: 30px;
}

.skills__language--select,.skills__it--select,.skills__bonus--select {
  width: 90%;
  padding: 0 10px;
}

.section__legal-warning {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container__legal-warning {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.paragraf__legal-warning {
  margin: 0;
  margin-bottom: 5px;
}/*azul marino: #424A5F; AZUL: #55607F; AZUL CLARO: #E7ECED; AMARILLO: #EAB931; VERDE: #31B89A *//*font-family: 'annie', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Philosopher', sans-serif;*/@media all and (min-width: 768px) {
  .container__header .header__logo {
    background-image: url("../images/logolargo.png");
    width: 200px;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__list--element {
    font-size: 18px;
    padding-right: 10px;
  }

  .hero .hero__img-mobile {
    display: none;
  }

  .hero .hero__img-desktop {
    width: 100%;
    display: block;
  }

  .block__info-steps {
    padding: 3em 0em 2em;
    width: auto;
  }

  .block__info-steps .step {
    width: 45%;
  }

  .img-step {
    height: 120px;
    margin: auto;
    width: auto;
  }

  .img-step .span-step {
    font-size: 20px;
    padding-top: 1.2em;
  }

  .container__instructions .container__instructions-paragraph {
    font-size: 20px;
  }

  .button--open,.button--close {
    width: 30px;
    height: auto;
  }

  .education-dates,.experience-dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 15px 0;
  }

  .date-container-until {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #end_month1,#end_year1,#end_month-education1,#end_year-education1 {
    margin-left: 2px;
  }

  .actualidad {
    margin-left: 5px;
    margin-top: 0;
  }

  .present-button-p {
    margin-top: 0;
    padding-top: 0;
  }

  .cookie .preview-title {
    font-size: 1em;
  }

  .cookie .preview-text {
    font-size: 1em;
  }

  .annie .preview-title {
    font-size: 1em;
  }

  .annie .preview-text {
    font-size: 1em;
  }

  .philosopher .preview-title {
    font-size: 1em;
  }

  .philosopher .preview-text {
    font-size: 1em;
  }

  .container__experience--description,.container__formation--description {
    margin-top: 25px;
  }

  .preview__skills {
    margin-top: 50px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .title-hero {
    font-size: 30px;
    padding: 30px 5px;
  }
}

@media all and (min-width: 1024px) {
  main .section__creation,main .section__preview {
    width: 50%;
  }

  .title-hero {
    font-size: 45px;
    padding: 35px 5px;
  }

  .block__cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 2%;
    background-color: #E7ECED;
  }

  .cookie .preview-title {
    font-size: 1.1em;
  }

  .cookie .preview-text {
    font-size: 1em;
  }

  .annie .preview-title {
    font-size: 1.1em;
  }

  .annie .preview-text {
    font-size: 1em;
  }

  .philosopher .preview-title {
    font-size: 1.1em;
  }

  .philosopher .preview-text {
    font-size: 1em;
  }

  .showpreview {
    height: 130vh;
  }

  .container__photo {
    width: 70px;
    height: 70px;
  }

  .container__photo .thumb {
    width: 70px;
    height: 70px;
  }

  .preview__skills {
    margin-top: 30px;
  }

  .section__preview {
    margin-left: 2%;
  }
}

@media all and (max-width: 768px) {
  .container__nav-button .nav__button {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
