.h3-form {
	color: $colorSea;
	text-transform: uppercase;
	font-size: 20px;
}
.legend {
	display: none;
}
.form-section-header {
	@include flexRowBetween();
	align-items: center;
	width: auto;
	height: auto;
	border-bottom: 5px;
}
.form__container {
	@include flexColumn();
	flex-wrap: wrap;
	align-self: center;
	background: $colorMediumBlue;
}
fieldset {
	border: none;
	margin: 0;
}
.section__content--visible{
	display: block;
}
.section__content--invisible{
	display: none;
}
.form__personal-data {
	margin-top: 1.2em;
}
.form__section {
	background-color: $colorMediumBlue;
	padding: 0 35px;
}

.container-birthdate {
	@include flexRowBetween();
	& .label-birthdate {
		width: 50%;
		text-align: left;
	}
}
.input-birthdate {
	color:$colorMediumGrey;
}
.label{
	font-size: 1em;
	text-align: center;
	color: $colorSea;
	margin-top: 0;

}
.class-input, .description, .experience-text, .textarea-aboutme {
	display: block;
	border-radius: 5px;
	background: $colorLightBlue;
	font-family: inherit;
	width: 100%;
  margin: 8px 0;
	padding:9px;
	font-size: 0.9em;
	outline: none;
	border:none;
}

.education-dates, .experience-dates {
	color: $colorBlack;
	font-size: 14px;
	select{
		margin-right: 8px;
	}
	@media all and (min-width:768px){
		@include flexRow();
	}
}
select{
	border: none;
	padding: 3px;
	width: 50px;
	border-radius: 5px;
}
.level {
	display: flex;
	margin: 4px 0;
	padding: 0;
	@media all and (min-width:768px){
		display: flex;

	}
}
.date-container-from {
	display: flex;
	margin: 4px 0;
	padding:0;
	label{
		padding:0;
	}
	@media all and (min-width:768px){
		display: flex;

	}
}
.date-container-until{
	display: flex;
	margin: 4px 0;

	label{
		padding:0;
	}
	@media all and (min-width:768px){
		display: flex;
	}
}
.from {
	margin-top: 3px;
	margin-right: 10px;
}
.until {
	margin-left: 2px;
	margin-top: 3px;
	margin-right: 10px;
}
#end_month1, #end_year1, #end_month-education1, #end_year-education1 {
	@media all and (min-width:768px){
		margin-left: 2px;
	}
}
.actualidad{
	margin-top: 4px;
	padding-left: 5px;
	@media all and (min-width:768px){
			margin-top: 0;
	}
}
.present-button-p  {
	font-size: 1em;
	color: $colorSea;
	@media all and (min-width:768px){
		margin-top: 0;
		padding-top: 0;
	}
}

.skills-p{
	color: $colorWhite;
  font-size: 1.3em
}

.line {
	border: 0.5px solid $colorLightBlue;
	display: block;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
