$pathImages: '../images/';
$fontMain: 'Roboto Condensed', sans-serif;

$colorSea: #31B89A;
$colorMediumGrey: #757575;
$colorDarkBlue: #424A5F;
$colorMediumBlue: #55607F;
$colorLightBlue: #E7ECED;
$colorYellow: #EAB931;
$colorWhite: #ffffff;
$colorBlack: #000000;

//color options of design-colours
$colorRed: #dd5a4b;
$colorDarkGreen: #174752;
$colorLime: #d2de6b;
$colorDarkGrey: #251f21;
$colorHeavenBlue: #94d3c9;
$colorPink: #ee5b78;
$colorGrey: #817e7e;
