// menu

.visible{
	display: block;
}

.no-visible{
	display: none;
}


.container__nav-button {
    width: 20%;
    padding-top: 5px;
  .nav__button {
    width: 70px;
    height: 70px;
        background-image: url($pathImages + 'menu-color.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-style: none;
        background-color: $colorLightBlue;
        cursor: pointer;
				outline: none;
				@media all and (max-width:768px){
					width: 50px;
			    height: 50px;
				}
  }
}
.nav__list {
    position: absolute;
    left: -40px;
    top: 80px;
  margin-top: 0;
  .nav__list__item {
    list-style: none;
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    background-color: $colorDarkBlue;
    border-bottom: 1px solid $colorSea;
    &:last-child {
      border:none;
    }
    a {
      text-decoration: none;
      color: $colorLightBlue;
      padding: 10px;
    }
  }
}
.hidden {
    display: none;
}
