* {
	box-sizing: border-box;
}

body {
	margin: 0;
  padding: 0;
	width: 100%;
	@include flexColumn;
	box-sizing: border-box;
	font-family: $fontMain;
}

main {
	flex: 1;
	padding-top: 80px;
	min-height: 100vh;
}
@media all and (min-width:1100px) {
	.section__creation, .section__preview {
		width: 50%;
	}
}
.hide {
	display: none;
}
