.button--open, .button--close {
	height: 20px;
	width: 20px;
	cursor: pointer;
 	@media all and (min-width:768px){
 		width: 30px;
 		height: auto;
	}
}

.button--save, .button--new{
	background-color: #EAB931;
	color: #424A5F;
	font-weight: bold;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	padding: 4px 5px;
	margin: 7px 0;
}
