.h3-form {
	color: $colorSea;
	text-transform: uppercase;
	font-size: 20px;
}
.legend {
	display: none;
}
.form-section-header {
	@include flexRowBetween();
	align-items: center;
	width: auto;
	height: auto;
	border-bottom: 5px;
}
.form__container {
	@include flexColumn();
	flex-wrap: wrap;
	align-self: center;
	background: $colorMediumBlue;
}
fieldset {
	border: none;
	margin: 0;
}
.form__personal-data {
	margin-top: 1.2em;
}
.form__personal-data, .form__education, .form__experience,.form__skills {
	background-color: $colorMediumBlue;
	padding: 0 35px;
}
#container-inputs__personal-data, #container-inputs__experience, #container-inputs__education, #container-inputs__skills {
	display: none;
}
.input-birthdate {
	color:$colorMediumGrey;
}
.label{
	font-size: 1em;
	text-align: center;
	color: $colorSea;
	margin-top: 0;
	// padding-top: 1em;
}
.class-input, .description, .experience-text, .textarea-aboutme {
	display: block;
	border-radius: 5px;
	background: $colorLightBlue;
	font-family: inherit;
	//padding: 5px;
	// margin: 5px;
	// width: 80%;
	width: 100%;
  margin: 8px 0;
	padding:9px;
	font-size: 0.9em;
	outline: none;
	border:none;
}
// .description, .experience-text, .textarea-aboutme {
// 	resize: vertical;
// 	font-size: 13.3333px;
// 	/*NECESARIO porque si no se descuajeringa la caja y también cambia el tamaña y la fuente.*/
// }
.education-dates, .experience-dates {
	display: inline;
	color: $colorBlack;
	font-size: 14px;
	@media all and (min-width:768px){
		@include flexRow();
		margin: 15px 0;
	}
}
select{
	border: none;
	padding: 3px;
	    width: 67px;
}

.date-container-from, .level{
	display: block;
	margin: 4px 0;
}
.date-container-until{
	display: block;
	margin: 4px 0;
	@media all and (min-width:768px){
		display: flex;
		flex-direction: row;
		// height: 19px;
	}
}
.from {
	margin-top: 3px;
	margin-right: 3px;
}
.until {
	margin-left: 2px;
	margin-top: 3px;
	margin-right: 3px;
}
#end_month1, #end_year1, #end_month-education1, #end_year-education1 {
	@media all and (min-width:768px){
		margin-left: 2px;
	}
}
.actualidad{
	margin-top: 4px;
	@media all and (min-width:768px){
		margin-left: 5px;
			margin-top: 0;
	}
}
.present-button-p  {
	font-size: 1em;
	color: $colorSea;
	@media all and (min-width:768px){
		margin-top: 0;
		padding-top: 0;
	}
}

.skills-p{
	color: $colorWhite;
  font-size: 1.3em
}

.line {
	border: 0.5px solid $colorLightBlue;
	display: block;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
