/*PREVIEW*/

/*ELECCIÓN DE DISEÑO*/
.preview__title, .creation__title, .label {
	text-align: center;
	color: $colorSea;
	margin-top: 0;
	padding-top: 1em;
}
.preview-title{
	text-align: left;
}
.preview-title {
	margin: 10px 0;
}
.preview-theme {
	position: relative;
	font-size: 80%;
	margin-bottom: 5%;
}
/*Cookie-font*/
.cookie .preview-title{
	font-family: 'Cookie';
	font-size: 1em;
	@media all and (min-width:1100px) {
			font-size: 1.2em;
		}
}
.cookie .preview-text{
	font-family: 'arial';
	font-size: .45em;
	@media all and (min-width:1100px) {
		font-size: .7em;
	}
}
/*Annie-font*/
.annie .preview-title{
	font-family: 'Leckerli One';
	font-size: .7em;
	font-weight: 700;
	@media all and (min-width:1100px) {
		font-size: .1em;
		}
}
.annie .preview-text{
	font-family: 'Annie Use Your Telescope';
	font-size: .5em;
	@media all and (min-width:1100px) {
		font-size: .8em;
		}
}
/*Philosopher-font*/
.philosopher .preview-title{
	font-family: 'Philosopher';
	font-size: .7em;
	font-weight: 700;
	@media all and (min-width:1100px) {
		font-size: 1em;
		}
}
.philosopher .preview-text{
	font-family: 'Philosopher';
	font-size: .45em;
	@media all and (min-width:1100px) {
		font-size: .8em;
		}
}
/*Colour $colorRed $colorDarkGreen $colorLime $colorDarkGrey $colorHeavenBlue $colorPink $colorGrey*/
/*red-green-lime*/
.red-green-lime .preview-title {
	color: $colorRed;
	border-bottom: 1px solid $colorLime;
}
.red-green-lime .preview-text {
	color: $colorDarkGreen;
}
/*black-blue-lime*/
.black-blue-lime .preview-title {
	color: $colorHeavenBlue;
	border-bottom: 1px solid $colorLime;
}
.black-blue-lime .preview-text {
	color: $colorDarkGrey;
}
/*lack-pink-grey*/
.black-pink-grey .preview-title {
	color: $colorDarkGrey;
	border-bottom: 1px solid $colorPink;
}
.black-pink-grey .preview-text {
	color: $colorGrey;
}

/*Temas*/
.dots.showpreview {
	background-image: url("../images/themes/dots.png");
}
.stripes.showpreview {
	background-image: url("../images/themes/stripes.png");
	background-size: contain;
}
.zigZag.showpreview {
	background-image: url("../images/themes/zigZag.png");
}
/*MAQUETACIÓN PREVIEW*/

.showpreview {
	background-color: $colorWhite;
	@include backgroundCenter;
	background-size: cover;
	@include flexColumn;
	height: 80vh;
	padding: 8%;
	@media all and (min-width:1100px) {
		height: 130vh;
	}
}

.container__preview {
	@include flexRow;
	justify-content: space-around;
	align-content: flex-start;
	height: 80px;
}

.container__preview--photo {
	width: 25%;
}
.container__photo {
	margin-top: 12%;
	width: 60px;
	height: 60px;
	background-color: $colorSea;
	border-radius: 100px;
	@media all and (min-width:1100px) {
		width: 70px;
		height: 70px;
	}
}
.container__preview--personal-data {
	@include flexRow;
	justify-content: space-between;
	align-content: flex-start;
	padding: 0 10px;
	width: 80%;
}
.container__personal-data {
	/*background-color: $colorYellow;*/
	width: 32%;
	// height: 50px;
	margin-top: 10px;
	@include flexColumnContentCenter;
	padding-top: 10px;
}

.container__direction {
	width: 60%;
	height: 50px;
	/*background-color: $colorYellow;*/
	@include flexColumnContentCenter;
	padding-top: 10px;
	padding-left: 10px;
	text-align: right;
	padding-top: 10px;
	margin-top: 10px;
}

.container__photo .thumb {
	width: 100%;
	width: 60px;
	border-radius: 100px;
	height: 60px;
	@media all and (min-width:1100px) {
		width: 70px;
		height: 70px;
	}
}

.preview-data {
	@include flexColumn;
	width: 60%;
}

.container__preview--summary{
	width: 100%;
}
.container__summary {
	@include flexRow;
	justify-content: space-around;
	align-content: flex-start;
	margin-top: 10px;
}
.preview__summary {
	width: 60%;
	height: auto;
	text-align: left;
	padding-left: 5px;
}
.container__preview--rrss {
	width: 30%;
	text-align: right;
}
.preview__experience, .preview__formation {
	@include flexColumn;
	margin-top: 10px;
}
.container__experience--main-data, .container__formation--main-data {
	@include flexRowBetween;
	height: 15px;
	width: 95%;
	padding-left: 10px;
	padding-right: 10px;
}
.container__experience--description, .container__formation--description {
	// height: 20px;
	width: 95%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}
.preview__skills {
	@include flexRowBetween;
	height: 40px;
	width: 95%;
	padding-left: 10px;
	padding-right: 10px;
	@media all and (min-width:1100px) {
		margin-top: 30px;
	}
}
.preview__skills--languages, .preview__skills--it, .preview__skills--bonus {
	@include flexRowBetween;
}
.talk-icon, .it-icon, .bonus-icon {
	width: 30px;
	height: 30px;
}
.skills__language--select, .skills__it--select, .skills__bonus--select {
	width: 90%;
	padding: 0 10px;
}
@media all and (min-width:1100px) {
	.section__preview {
		margin-left: 2%;
	}
}
